:root{
    --global-backgound: #0F172A;
    --header-background: #334155;
    --model-background: #475569 ;
    --button-background: #fdcb6e;
    --button-hover-background: #fd836e;
    --header-button-background: #fab1a0;
    --card-background: #475569;
    --dark-text-color: #131418;
    --light-text-color: white;
    --model-bottom-highlight: #6EE7B7;
    --card-bottom-highlight: #6EE7B7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--light-text-color);
    font-family: 'Betinya Sans', sans-serif;                     
}

html{
    background-color: var(--global-backgound);
}

header{
    background-color: var(--header-background);
    text-align: center;
}

.branding{
    font-size:xx-large;
}

header nav{
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
}

header ul{
    display: inline-flex;
    list-style-type: none;
}

header a{
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-text-color);
    padding: 25px;
    text-align: center;
}

header li{
    font-size:medium;
    margin: 20px;
    padding: 10px;
    color: var(--dark-text-color);
    background-color: var(--button-background);
}

header li:hover{
    background-color: var(--button-hover-background);
}

.button{
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    box-sizing: border-box;
    padding: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 30%;
    text-align: center;
    font-size: medium;
    color: var(--dark-text-color);
    background-color: var(--button-background);
}

.button:hover{
    background-color: var(--button-hover-background);
}

.card input,
.model input{
    color:var(--dark-text-color);
    padding: 2px;
    text-align: center;
    font-size: medium;
}


.wrapper{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
    text-align: center;
}

.model{
    background-color: var(--model-background);
    min-width: 100px;
    min-height: 100px;
    padding: 50px;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid var(--model-bottom-highlight);
}

.container{
    margin-top: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 80px;
}

.card{
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 2px;
    border-bottom: 4px solid var(--card-bottom-highlight);
    background-color: var(--card-background);
    font-size: large;
    text-align: center;
}


.copy{
    cursor: pointer;
}

#close{
    position: absolute;
    cursor: pointer; 
    top: 5%;
    right: 5%;
}

#add-password{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}