{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>VaultPass</title>
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="http://fonts.cdnfonts.com/css/betinya-sans" rel="stylesheet">
                
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'main.js' %}" defer></script>
</head>
<body>
    <header> 
        <nav>
            <div class="branding"><img width="50" style="text-align: center;" height="50" src="static/vault.png"></img><h1> VaultPass</h1></div>
            <ul>
                <li><a href="">Home</a></li>
                {% if request.user.is_anonymous %}
                    <li><a href="javascript:;" onclick="displayModel('login');">Login</a></li>
                    <li><a href="javascript:;" onclick="displayModel('signup');">SignUp</a></li>
                {% else %}
                    <li><a href="javascript:;" onclick="displayModel('profile');">Update Profile</a></li>
                    <li><a href="javascript:;" onclick="displayModel('add-password');">Add Password</a></li>
                    <li><a href="javascript:;" onclick="document.getElementById('logout').click();">Logout</a></li>
                    <form hidden="true" action="." method="POST">
                        {% csrf_token %}
                        <input type="submit" id="logout" name="logout">
                    </form>
                {% endif %}
            </ul>
            {% if not request.user.is_anonymous %}
            <p>Current User : {{request.user.username}}</p>
            {% endif %}
        </nav>
    </header>

    {% if messages %}
        <div class="msgs" style="text-align: center;" id="messages">
            {% for msg in messages %}
                <p>
                    {% if msg.tags == "error" %}
                        <i class="fa-solid fa-circle-exclamation"></i>
                        {% else %}
                        <i class="fa-solid fa-check"></i>
                    {% endif %}
                    &nbsp;{{msg}}
                </p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="wrapper">
        <span href="" id="close"><i class="fa-solid fa-xmark"></i></span>
        <!--login-->
        <div class="model" id="login">
            <form action="." role="form" method="POST">
                {% csrf_token %}
                <h2>Login</h2><br><br>
                <input type="text" name="username" placeholder=" Username"><br><br>
                <input type="text" name="password" placeholder=" Password"><br><br>
                <input class="button" type="submit" value="Login" name="login">
            </form>
        </div>

        <!--signup-->
        <div class="model" id="signup">
            <form action="" role="form" method="POST">
                {% csrf_token %}
                <h2>SignUp</h2><br><br>
                <input type="text" name="username" placeholder="Username"><br><br>
                <input type="email" name="email" placeholder="Email"><br><br>
                <input type="text" name="password" placeholder="Password"><br><br>
                <input type="submit" value="Sign up" name="signup">
            </form>
        </div>

        <!--add password-->
        <div class="model" id="add-password">
            <form action="." role="form" method="POST">
                {% csrf_token %}
                <h2>Add new password</h2><br><br>
                <input type="text" name="url" placeholder="URL"><br><br>
                <input type="email" name="email" placeholder="Email"><br><br>
                <input type="text" id="password" name="password" value="{{generated_pwd}}" placeholder="Password"><br><br>
                <input type="text" name="hint" placeholder="Password hint"><br><br>
                <a class="button" id="generate" >Generate</a><br><br>
                <input class="button" type="submit" value="Save" name="add-password">
            </form>
        </div>

        <!--profile-->
        <div class="model" id="profile">
            <form action="." role="form" method="POST">
                {% csrf_token %}
                <h2>Your profile</h2><br><br>
                First name<br>
                <input type="text" name="first" value="{{request.user.first_name}}"><br><br>
                Second name<br>
                <input type="text" name="last" value="{{request.user.last_name}}"><br><br>
                Email<br>
                <input type="email" name="email" value="{{request.user.email}}" readonly><br><br>
                Master password<br>
                <input type="text" name="password" placeholder="New password"><br><br>
                <input class="button" type="submit" value="Update" name="update_profile">
            </form>
        </div>
    </div>

    <div class="container">
        {% for pwd in passwords %}
        <div class="card">
            <form action="." role="form" method="POST">
                {% csrf_token %}
            {% if pwd.siteLogo %}
            <p style="text-align:center;"><img width="50" style="text-align: center;" height="50" src="{{pwd.siteLogo}}"><p><br>
            {% else %}
            <p style="text-align:center;"><img width="50" style="text-align: center;" height="50" src="static/missing.png"><p><br>
            {% endif %}
            <div class="name"><b>{{pwd.siteTitle}}</b></div><br>
            <input type="email" name="email" value="{{pwd.email}}"> <i class="fa-regular fa-copy copy" title="Copy email"></i><br><br>
            <input type="password" name="password" id="pwd" value="{{pwd.password}}"> <i class="fa-regular fa-copy copy" title="Copy password"></i><br><br>   
            <input type="text" name="hint" value="{{pwd.hint}}"> <i class="fa-regular fa-lightbulb"></i><br><br>
            <input type="text" hidden="true" name="password-id" value="{{pwd.id}}"><br>
            <input class="button" type="" id="toggle" onclick="togglePwd()" value="Toggle"><br><br>
            <input class="button" type="submit" value="Update" name="update_password"><br><br>
        </form>
        <form action="." method="POST">
            {% csrf_token %}
            <input type="text" hidden="true" name="password-id" value="{{pwd.id}}">
            <input class="button" type="submit" id="delete" name="delete" value="Delete" href="javascript:;" onclick="document.getElementById('delete').click();">
        </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>