<!DOCTYPE html>
<html lang="en">
<head>
    <title>VaultPass</title>
    <script src="main.js" defer></script>
</head>
<body>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">SignUp</a></li>
    </ul>

    <div class="model-wrapper">
        <!--login-->
        <div>
            <form action="">
                <h2>Login</h2>
                <input type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email">
                <input type="submit" value="Login">
            </form>
        </div>

        <!--signup-->
        <div>
            <form action="">
                <h2>SignUp</h2>
                <input type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email">
                <input type="text" name="password" placeholder="Password">
                <input type="submit" value="Sign up">
            </form>
        </div>

</body>
</html>